/* Base styling for body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Light background */
    color: #333; /* Dark text color */
    margin: 0;
}



/* Container for images */
.images {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    align-items: center; /* Center items */
}

/* Destination box styling */
.destination {
    background-color: #fff; /* White background for destination box */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin: 10px 0; /* Margin around each destination box */
    width: 100%; /* Full width */
}

/* Image styling */
.destination img {
    width: 100%; /* Responsive image */
    border-radius: 8px; /* Rounded corners for image */
    height: 250px; /* Height for iframe */
}

/* Destination name styling */
.destination h2 {
    font-size: 1.8em;
    color: #000000; /* Bootstrap primary color */
    margin: 10px 0;
}

/* Star rating styling */
.stars {
    font-size: 30px;
    margin: 10px 0;
}

/* Individual star styling */
.star {
    cursor: pointer;
    margin: 0 5px;
}

/* Selected star color */
.star.selected {
    color: #FFD700; /* Gold color for selected stars */
}

/* Paragraph styling */
p {
    line-height: 1.6; /* Increased line height for readability */
    margin: 10px 0; /* Margin for paragraphs */
}

/* Unordered list styling */
ul {
    margin: 10px 0; /* Margin around list */
    padding-left: 20px; /* Indent list items */
    list-style: none;
}
  
  ul li:before {
    content: '✓';
  }

/* Location heading styling */
h3 {
    margin: 15px 0 10px; /* Margin for location heading */
}

/* Iframe styling for Google Maps */
iframe {
    border-radius: 8px; /* Rounded corners for iframe */
    margin-top: 10px; /* Margin on top of iframe */
    width: 100%; /* Responsive iframe */
    max-width: 600px; /* Max width for iframe */
    height: 450px; /* Height for iframe */
}

/* Container for destination name and stars */
.stars-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center align items */
    margin: 12px 0; /* Margin for spacing */
}

/* Destination name styling */
.destination-name {
    font-size: 1.8em; /* Font size for destination name */
    color: #000000; /* Bootstrap primary color */
    margin: 0; /* Remove default margin */
}

